<!-- 2D Distance Calculator -->
<div class="calculator-card">
    <h2>2D Distance Calculator</h2>
    <form data-type="2d-distance" onsubmit="event.preventDefault(); calculate('2d-distance')">
        <div class="input-group">
            <input type="number" name="x1" placeholder="x1">
            <input type="number" name="y1" placeholder="y1">
        </div>
        <div class ="input-group">
            <input type="number" name="x2" placeholder="x2">
            <input type="number" name="y2" placeholder="y2">
        </div>
        <button type="submit" class="calculate-btn">Calculate</button>
        <div id="2d-distance-result" class="result-text"></div>
    </form>
    
</div>











