<!-- Equilateral Triangle Calculator -->
<div class="calculator-card">
    <h2>Equilateral Triangle Calculator</h2>
    <form data-type="equilateral-triangle" onsubmit="event.preventDefault(); calculate('equilateral-triangle')">
        <div class = "input-group">
            <input type="number" name="side" placeholder="Side Length">
        </div>
        <button type="submit" class="calculate-btn">Calculate</button>
        <div id="equilateral-triangle-result" class="result-text"></div>
    </form>
    
</div>
